//Susy setup
$susy: (
	columns: 12,
	gutters: 1/6,
	container-position: center,
	global-box-sizing: border-box
);

.wrap {
	@include container(70%);
}

.site-header {
	.wrap {
		@include container(90%);
	}
}

.site-branding {
	@include susy-breakpoint($large) {
		@include span(6);
	}
}

.header-nav {
	@include susy-breakpoint($large) {
		
		@include span(6 last);
	}
}

.about-me {
	@include susy-breakpoint($large) {
		@include span(7);
		@include post(1);
	}
}

.portrait-picture {
	@include susy-breakpoint($large) {
		@include span(4 last);
	}
}

.portfolio {
	@include susy-breakpoint($large) {
		color: $white;
		height: 600px;
		// Cross-browser compatibility has to be taken into consideration when launching the site.
		background: radial-gradient(circle, $main-color, darken($main-color, 100%));

		.wrap {
			@include container(90%);
			display: table;
			height: 100%;

			.h2-wrap {
				display: table-cell;
				vertical-align: middle;
				text-align: center;

				h2 {

					}
			}
		}
	}
}

.contact .wrap {
	@include container(60%);
}

.form {
	@include susy-breakpoint($large) {
		@include span(12 last);
	}
}










.features {
	@include clearfix;

	@include susy-breakpoint($large) {
		margin-bottom: 30px;
	}
}

.features .feature {

	@include susy-breakpoint($medium $large - 1) { //640 to 960 -1  
		@include span(6);

		&:nth-of-type(even) {
			@include last;
		}
		
	}

	@include susy-breakpoint($large) {
		@include span(3);

		&:last-child {
			@include last;
		}
	}

}

.content {
	@include susy-breakpoint($large) {
		@include span(8);	
	}
}

.sidebar {
	@include susy-breakpoint($large) {
		@include span(4);
		@include last;
		background: rgba($green, .7);

		input {
			margin-bottom: 20px;
		}
	}

	@include susy-breakpoint($small $large - 1) {
		background: rgba($green, .7);
		padding-bottom: 20px;
	}
}


.testimonial {
	@include susy-breakpoint($large) {
		@include span(6);
		@include push(3);
		@include post(3);
	}
}