/* Color palette */
$blue: rgba(36, 123, 160, 1);
$darkGreen: rgba(112, 193, 179, 1);
$green: rgba(178, 219, 191, 1);
$yellow: rgba(243, 255, 189, 1);
$red: rgba(255, 22, 84, 1);
$black: #000;
$white: #FDFFFC;
$darkBlue: darken($blue, 40%);
$greenHighlight: #66fcf1;
$colorTest: adjust-hue($greenHighlight, 90deg);
$brown: #3f291b;
$main-color: #a666fc;

$font-main: 'Ubuntu', sans-serif;
$font-body: 'Open Sans', sans-serif;
$font-cursive: 'Sofia', cursive;


$default-border-radius: 20px; 

// Viewport breakpoints
$small: 480px;
$medium: 640px;
$large: 960px;


$grey: #777;